
@media only screen and (max-width: 768px) {
    body {
      display: flex;
      width: 100%;
      overflow: scroll;
      flex-wrap: wrap;
    }
  
    main {
      padding: 50px 0;
      flex-direction: column;
    }
  
    div.sedan {
      border-radius: 7px 7px 0 0;
    }
  
    div.luxury {
      border-radius: 0 0 7px 7px;
    }
  
    div p {
      font-size: 0.77rem;
    }
  
    .attribution {
      position: relative;
      width: auto;
      padding-bottom: 10px;
    }
  }